<div class="card">

  <%= link_to room_path(room) do %>
    <%= cl_image_tag(room.photo.key) %>

    <div class="card-room-info">
          <div class="row">
            <h2 class="col"><%= room.hotel_name %></h2>
            <h3 class="col">★<%= room.rating %></h3>
          </div>

          <p><%= room.description %></p>
          <h3><%= room.price %>€ par nuit</h3>

    </div>

  <% end %>

</div>
